<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
rel="stylesheet" integrity="sha384-
KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container d-flex justify-content-center">
        <a class="navbar-brand mr-4" href="/">Home</a>
        <a class="navbar-brand mr-4" href="/404">404</a>
        <a class="navbar-brand mr-4" href="/members">Members</a>
        <a class="navbar-brand mr-4" href="/login">Login</a>
        <a class="navbar-brand mr-4" href="/admin">Admin</a>
      </div>
    </nav>
  </header>

  <div class="container text-center">
    <!-- Content of the page goes here -->
  </div>

  <!-- Include Bootstrap 5 JS (optional) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-
SK8jfofZVtNWTgDxAsG80ju8Y//yEBlGAdRigv9/zWp8Tm3ZqV54jTbjvQxWwM8q" crossorigin="anonymous"></script>
</body>
</html>
